<a href="https://colab.research.google.com/github/techbuddy-sonalman/Python/blob/master/LearningPython_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

***Session 2:***

**Agenda**
  - Variables
  - Data Types
  - Conditional Statements
  - Loops
  - Slicing & Indexing

**Variables:**

create a variable
 var1 = 100  # create a new variable var1 and assigned value as 100

In [3]:
var1 = 100

In [4]:
print(type(var1))

<class 'int'>

Please note: type() function will display the class of data the variable is holding currently

**Type of DataType**
Or you can say, the type of data that a variable can be store in a variable

**Types are** -> Integer, string, float, list, tuple, dictionary, set, boolean, complex

Further these types can be classify as Mutuable (which can be modified) or Immutuable (which cannot be modified)

**Mutuable DataTypes are:** list, dictionary, set, boolean
**Immutuable DataTypes are:** Integer, string, complex

In [7]:
var2 = 10.0
print(type(var2))

<class 'float'>

In [13]:
var2 = "Hello World"
print(type(var2))       # print the type of data
print(var2)             # print the value stored in data

<class 'str'>
Hello World

In [14]:
print(var2)             #print the current value of var2 variable
var2 = 'Hello'          #re-assign the current value of var2 variable using single quotes
print(type(var2))       #print the type of var2 
print(var2)             #print the new value stored in data

Hello World
<class 'str'>
Hello

In [15]:
# multiline string variable

var3 = "This is a beautiful day.
Another lovely day."

SyntaxError: ignored

Python will read each line and raise error "**`SyntaxError: EOL while scanning string literal`**" if missing quotes in same line. 
This way you are not allowed to create a multiple line string variable.

Python provides another method to create variables with multi-line string value

In [16]:
var3 = """
This is a beautiful day.
Another lovely day.
"""
print(type(var3))
print(var3)

<class 'str'>

This is a beautiful day.
Another lovely day.