<a href="https://colab.research.google.com/github/techbuddy-sonalman/Python/blob/master/LearningPython_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

***Session 2:***

**Agenda**
  - Variables
  - Data Types
  - Conditional Statements
  - Loops
  - Slicing & Indexing

**Variables:**

create a variable
 var1 = 100  # create a new variable var1 and assigned value as 100

In [3]:
var1 = 100

In [4]:
print(type(var1))

<class 'int'>

Please note: type() function will display the class of data the variable is holding currently

**Type of DataType**
Or you can say, the type of a data can be store in a variable

**Types are** -> Integer, string, float, list, tuple, dictionary, set, boolean, complex

Further these types can be classify as Mutuable (which can be modified) or Immutuable (which cannot be modified)

**Mutuable DataTypes are:** list, dictionary,